/*
    Author: Tobias Mahnert;
    Telephone: 0411262089;
    Email: tobiasmahnert@web.de;
*/


/*import fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700');


/* general Styling Start*/

.withPadding {
    padding: 10px 10px;
}

ol {
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
    padding-left: 5%;
}

.heading {
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: white;
}

.headingContainer {
    overflow: hidden;
}

.readdpadding {
    padding: 1.25em;
}

body {
    font-size: .875rem;
}

.venues{
    font-size: 2em; 
}

.formTablet {
    display: none;
}

/* general Styling End*/


/* Button related Styling Start*/

.btn-primary {
    color: white;
    background-color: #000000;
    border-radius: 0;
    padding: 0.3em 4em;
    font-size: 1.2em;
    font-weight: 400;

}

.btn-menu {
    background-color: #63666a;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 0px;
    width: 100%;
}

.btn-menu.active {
    background-color: #d3222a;
}

.btn-inItems {
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 0px;
    width: 100%;
}

.btn-City {
    background-color: #5c6484;
}

.btn-Water {
    background-color: #bcc4d6;
}

.btn-garden {
    background-color: #a0beae;
}

.btn-beyond {
    background-color: #904a6c;
}

.btn-FormSubmit {
    color: white;
    background-color: #4cb67c;
    border-radius: 0px;
    font-size: 1.2em;
    padding: 0.4em 3em;
}


/* Button related Styling End*/


/* Section Styling Start */

.mainheader {
    background: url(/images/cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bottomSection {
    background: url(/images/bottomsection.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Section Styling End */


/* Font Styles Start */

.lato {
    font-family: 'Lato', sans-serif;
}

.latoBold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.sansPro {
    font-family: 'Source Sans Pro', sans-serif;
}

.sansProitalic {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
}


/* Font Styles End*/


/* Contact Form Start*/

.formBackground {
    width: 640px;
    padding: 2.5rem;
    background-color: rgba(225, 228, 223, 0.8);
    height: 500px;
    margin: auto;
}

.form-group {
    color: black;
    margin-bottom: 0.3em;
}

input.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #86817f;
    border-radius: 0px;
}

textarea.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #86817f;
    border-radius: 0px;
}

.col-form-label.textareaLabel {
    padding-top: calc(1rem - 1px * 2);
    padding-bottom: calc(1rem - 1px * 2);
    margin-bottom: 0;
}

input.dateInput {
    background-image: url(/images/Calender.png);
    background-repeat: no-repeat;
    background-position: right;
}


/* Contact Form End*/


/* seperator Styling Start */

.hr-sect {
    font-size: 1.5em;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(255, 255, 255, 1);
    height: .9px;
    font-size: 0px;
    line-height: 0px;
    
}

.hr-sect::before {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
}

.hr-sect::after {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.hr-sect-black {
    text-transform: uppercase;
    font-size: 1.2em;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}

.hr-sect-black span {
    background-color: white;
    width: 200px;
}


.hr-sect-black::before,
.hr-sect-black::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 1);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}


/* seperator Styling End */


/* Card Related Styling Start */

.card-city {
    border: none;
    -webkit-box-shadow: -2px 2px 40px 0px rgba(99, 102, 106, 0.5);
    -moz-box-shadow: -2px 2px 40px 0px rgba(99, 102, 106, 0.5);
    box-shadow: -2px 2px 40px 0px rgba(99, 102, 106, 0.5);
}

.card-water {
    border: none;
    -webkit-box-shadow: -2px 2px 40px 0px rgba( 188, 196, 214, 0.5);
    -moz-box-shadow: -2px 2px 40px 0px rgba( 188, 196, 214, 0.5);
    box-shadow: -2px 2px 40px 0px rgba( 188, 196, 214, 0.5);
}

.card-Garden {
    border: none;
    -webkit-box-shadow: -2px 2px 40px 0px rgba( 160, 190, 174, 0.5);
    -moz-box-shadow: -2px 2px 40px 0px rgba( 160, 190, 174, 0.5);
    box-shadow: -2px 2px 40px 0px rgba( 160, 190, 174, 0.5);
}

.card-beyond {
    border: none;
    -webkit-box-shadow: -2px 2px 40px 0px rgba( 144, 74, 108, 0.5);
    -moz-box-shadow: -2px 2px 40px 0px rgba( 144, 74, 108, 0.5);
    box-shadow: -2px 2px 40px 0px rgba( 144, 74, 108, 0.5);
}

.card-block {
    margin-top: 2em;
    padding: 0;
    min-height: 250px;
}

.card-title {
    text-transform: uppercase;
    font-size: 1em;
}

.totheBottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* Card Related Styling End */


/* Footer Start */

.footer {
    background-color: #3e3e3e;
    color: #878787;
}


/* Footer End */


/* Image Slider Styling Start */

.carousel-indicators {
    padding: 0;
    margin: 0;
    bottom: -20px;
    position: absolute;
}

.carousel-indicators li {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    background-color: white;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
}

.carousel-indicators li.active {
    background-color: black;
}

.carousel-control-prev-icon {
    background-image: url(/images/back.svg);
}

.carousel-control-next-icon {
    background-image: url(/images/next.svg);
}



/* Image Slider Styling End */


/*Media Queries*/

/* Tablet portrait mode */

@media (max-width: 950px){
    .btn-primary{
        width: 100%;
    }
}

@media (max-width: 845px){
    .formDesktop{
        display: none;
    }

    .formTablet {
        display: block;
    }
}

/* Smartphones (portrait and landscape) ----------- */

@media (max-width:767px) {

    .hr-sect-black span {
        width: 60%;
    }

    .mb-5 {
        margin-bottom: .5rem!important;
    }

    .mSmScr{
        margin-bottom: 8rem!important;
    }
    .venues{
        font-size: 1.875em; 
    }
    .hr-sect{
        font-size: 1.25rem;
    }
}

@media (max-width: 500px) {
    
    .hr-sect{
        font-size: 1rem;
    }

}